<div class="DisplayingNotes">
    <div>
        <h2>Existing Notes</h2>
    </div>
    <div>
        <ul>
        {{#each notesArray}}
        <div>
            <li>
                <div>
                    <h3>{{this.noteCreater}}</h3>
                </div>
                <div>
                    <p>{{this.noteContent}}</p>
                </div>
            </li>
        <div>
        {{else}}
        <p>You don't have any notes yet.</p>
        </div>
        </div>
        {{/each}}
        </ul>
    </div>
</div>