<h2>Existing Notes</h2>
<ul>
   {{#each noteArray}}
    <li>
        <h3>{{this.noteCreater}}</h3>
        <p>{{this.noteContent}}</p>
    </li>
   {{else}}
   <p>You don't have any notes yet.</p>
  {{/each}}
</ul>