<h2>Select to whom you assign the next task</h2>

<ul>
     {{#each actualProjectTeam}}
     <li>
                    <h3>{{this.firstName}} {{this.lastName}}</h3>
                    <h4>{{this.job}}</h4>
                    <button id="buttonAssignedTo">Assign task</button>
     </li>
     {{/each}}
</ul>

<h2>Add a Task</h2>

<form method ="POST" action="/process-task">

<input type="hidden" name="projectId" value={{projectId}} />

   <label>
       Title :
       <input type="text" name="taskTitle" placeholder="Install the light" />
   </label>
   <br />

   <label>
       Description :
       <input type="text" name="taskDescription" placeholder="We need to install the lights in all the first floor." />
   </label>
   <br />

    <label>
       Assigned to :
       <input id="taskAssignedId" type="hidden" name="taskAssignedId" value=""/>
       <input id="taskAssignedTo" type="text" name="taskAssignedTo" placeholder="Remi Lalande" readonly/>
   </label>
   <br />

    <label>
       Date of Start :
       <input type="date" name="taskStartDate" placeholder="08/12/2018" />
   </label>
   <br />

    <label>
       Deadline :
       <input type="date" name="taskDeadline" placeholder="08/21/2018" />
   </label>
   <br />

<button>Save This Task</button>
</form>