<h2 class="title-about">Creators</h2>

<div class="container about-container">
 <div class="row">
   <div class="col-sm about-presentation">
     <img src="" alt="">
     <h2>Ghaith Hannachi</h2>
     <p>A civil engineer working as a junior project manager in the buildings and real estate departement of an insurance compagny
         in the buisness since 5 years
     </p>
   </div>
   <div class="col-sm about-presentation">
     <img src="/" alt="">
     <h2>Jihad El Obbadi</h2>
     <p>An architect working as a freelance</p>
   </div>
 </div>
</div>