<div class="notePage">
    <div>
        <div>
            <h2>Your Project's Notes</h2>
        </div>
        <div class="notePageDisplay">
            <div>

            </div>
            <div class="DisplayingNotes">
                {{>  noteAdd }}
            </div>
            <div class="AddingNotes">
                {{> noteList  }}
            </div>
        </div>
    </div>
</div>
