<div class="teamPage">
    <div>
        <h2>Your Project's Team</h2>
    </div>
    <div class="team-page">
        <div class="teamAdd">
            {{> teamAdd }}
        </div>
                <div class="teamList">
            {{> teamList }}
        </div>


    </div>
</div>
