<div class="flex-container auth-style">

<h1 class="profile-title">User Profile</h1>



<div class="userprofile-buttons">

<div class="link-profile">

<a href="/project/add">Create a New Project</a>

</div>

<div class="create-project link-profile">

<a href="/my-projects">Existing Projects</a>

</div>

</div>


</div>